@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-mediumitalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard";
  src: url("/fonts/Mazzard/mazzardsoftm-semibolditalic.otf");
  font-weight: 600;
  font-style: italic;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --gradient-fieldguide: linear-gradient(103deg, #5193f0 0%, #f476a4 108%);
    --gradient-antenna: linear-gradient(
      102deg,
      #858fc7 -13.31%,
      #606ba4 21.25%,
      #313b72 100%
    );
  }
}

@layer base {
  .heading-large {
    font-family: "Mazzard", sans-serif;
    font-size: 38px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
  }

  .heading-medium {
    font-family: "Mazzard", sans-serif;
    font-size: 34px;
    line-height: 38px;
    font-weight: 500;
    font-style: normal;
  }

  .heading-small {
    font-family: "Mazzard", sans-serif;
    font-size: 32px;
    line-height: 34px;
    font-weight: 500;
    font-style: normal;
  }

  .body-large {
    font-family: "Mazzard", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }

  .body-base {
    font-family: "Mazzard", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
  }

  .body-small {
    font-family: "Mazzard", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
  }

  .body-overline {
    font-family: "Mazzard", sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }

  .body-number {
    font-family: "Mazzard", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    font-variant-numeric: lining-nums tabular-nums;
  }
}
